<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayName</key>
		<string>163</string>
		<key>icon</key>
		<string></string>
		<key>smptPort</key>
		<integer>465</integer>
		<key>imapPort</key>
		<integer>993</integer>
		<key>pop3Port</key>
		<integer>995</integer>
		<key>smtpHost</key>
		<string>smtp.163.com</string>
		<key>imapHost</key>
		<string>imap.163.com</string>
		<key>pop3Host</key>
		<string>pop.163.com</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>QQ</string>
		<key>icon</key>
		<string></string>
		<key>smptPort</key>
		<integer>465</integer>
		<key>imapPort</key>
		<integer>993</integer>
		<key>pop3Port</key>
		<integer>995</integer>
		<key>smtpHost</key>
		<string>smtp.qq.com</string>
		<key>imapHost</key>
		<string>imap.qq.com</string>
		<key>pop3Host</key>
		<string>pop.qq.com</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Gmail</string>
		<key>icon</key>
		<string></string>
		<key>smptPort</key>
		<integer>465</integer>
		<key>imapPort</key>
		<integer>993</integer>
		<key>pop3Port</key>
		<integer>995</integer>
		<key>smtpHost</key>
		<string>smtp.gamil.com</string>
		<key>imapHost</key>
		<string>imap.gamil.com</string>
		<key>pop3Host</key>
		<string>pop.gmail.com</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>126</string>
		<key>icon</key>
		<string></string>
		<key>smptPort</key>
		<integer>465</integer>
		<key>imapPort</key>
		<integer>993</integer>
		<key>pop3Port</key>
		<integer>995</integer>
		<key>smtpHost</key>
		<string>smtp.126.com</string>
		<key>imapHost</key>
		<string>imap.126.com</string>
		<key>pop3Host</key>
		<string>pop.126.com</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>sina</string>
		<key>icon</key>
		<string></string>
		<key>smptPort</key>
		<integer>465</integer>
		<key>imapPort</key>
		<integer>993</integer>
		<key>pop3Port</key>
		<integer>995</integer>
		<key>smtpHost</key>
		<string>smtp.sina.com</string>
		<key>imapHost</key>
		<string>imap.sina.com</string>
		<key>pop3Host</key>
		<string>pop.sina.com</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>其他</string>
		<key>icon</key>
		<string></string>
		<key>smptPort</key>
		<integer>465</integer>
		<key>imapPort</key>
		<integer>993</integer>
		<key>pop3Port</key>
		<integer>995</integer>
		<key>smtpHost</key>
		<string></string>
		<key>imapHost</key>
		<string></string>
		<key>pop3Host</key>
		<string></string>
	</dict>
</array>
</plist>
